#!/bin/bash

TSLRPG=${T_OPT}/tslrpg

if [[ ${1} == "si" ]]; then
	TRUNK=${TSLRPG}/si
else
	TRUNK=${TSLRPG}/trunk
fi

cd ${TRUNK}

rm logs/*
mv obj/debug/*.o src/

cd proj/jam

jam -q
JAM_RESULT=`jam -q | grep failed`

cd ../..
mv src/*.o obj/debug/

if [[ ${JAM_RESULT} != "" ]]; then
	echo "Jam failed."
	exit;
fi

if [[ ${2} != "" ]]; then
	PREFIX="valgrind --log-file-exactly=logs/valgrind.txt -v --time-stamp=yes"
fi

COMMAND="${PREFIX} bin/debug/tslrpg ${TRUNK}"
echo "Command: ${COMMAND}"
${COMMAND}

mv Ogre.log logs/ogre.txt

cat logs/log.txt | tail
