#!/bin/bash

TRUNK=${T_OPT}/tslrpg/trunk
JAM_ARGUMENT=-q
ARGUMENT_LIST=(${1} ${2} ${3} ${4} ${5} ${6})

for ARGUMENT in ${ARGUMENT_LIST[@]}; do
	if [[ ${ARGUMENT} == "val" ]]; then
		PREFIX="valgrind --log-file-exactly=log/valgrind.txt --time-stamp=yes"
	elif [[ ${ARGUMENT} == "doxy" ]]; then
		cd ${TRUNK}/doc
		doxygen
		cd ..
	elif [[ ${PREV_ARGUMENT} == "--" ]]; then
		JAM_ARGUMENT=${ARGUMENT}
	fi
	PREV_ARGUMENT=${ARGUMENT}
done

cd ${TRUNK}

rm log/*
mv obj/debug/*.o src/

cd proj/jam

jam ${JAM_ARGUMENT}
JAM_RESULT="${?}"

cd ../..
mv src/*.o obj/debug/

if [[ ${JAM_RESULT} != "0" ]]; then
	echo "Jam failed."
	exit;
fi

${PREFIX} bin/debug/tslrpg ${TRUNK}
echo "tslrpg exit code: ${?}"

mv Ogre.log log/ogre.txt
