WORKDIR = ../.. ;

##	valgrind memcheck
C++FLAGS =  -O -march=pentium4 -Wall -g -fno-inline ;

##	valgrind cachegrind
##	C++FLAGS = -O2 -march=pentium4 -Wall -g -fno-inline ;

##	normal
##	C++FLAGS = $(CXXFLAGS) -Wall  ;

LINKFLAGS =
	-L/usr/lib/OGRE
	-L/usr/local/lib/OIS
	-lOgreMain
	-lCEGUIBase
	-lCEGUIOgreRenderer
;

HDRS =
	$(WORKDIR)/include
	/usr/include/OGRE
##	/usr/local/src/ogre/Samples/Common/include
##	/usr/local/src/ogre/ReferenceApplication/ReferenceAppLayer/include
##	/usr/local/src/ogre/ReferenceApplication/Common/include
;

CPPS =
	$(WORKDIR)/src/battle_engine.cpp
	$(WORKDIR)/src/character.cpp
	$(WORKDIR)/src/container.cpp
	$(WORKDIR)/src/entity.cpp
	$(WORKDIR)/src/main.cpp
	$(WORKDIR)/src/object.cpp
	$(WORKDIR)/src/sector.cpp
	$(WORKDIR)/src/sl_frame_listener.cpp
	$(WORKDIR)/src/tslrpg.cpp
	$(WORKDIR)/src/weapon.cpp
;

Main $(WORKDIR)/bin/debug/tslrpg :
	$(CPPS)
;
